@page
@model DownloadPersonalDataModel
<a href="~/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml">~/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml</a>
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
    Layout = "/Views/Shared/_LayoutManage.cshtml";
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}